.product-card {
  width: 100%;
  max-width: 300px;
  margin: auto;
    text-decoration: none;
  color: inherit;
}

.product-image {
  width: 100%;
  height: 400px; /* adjust to match height */
  object-fit: cover;
  display: block;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 0.95rem;
  font-weight: 500;
  color: #111;
  padding: 0 4px;
}

.product-title {
  text-align: left;
}

.product-price {
  text-align: right;
}
